---

---

<section class="flex align-middle justify-evenly ">
    <div class="home">  
        <nav class="flex justify-between flex-wrap ">
            <a href="/"
                class="block lg:inline-block text-md font-bold  text-orange-500  sm:hover:border-indigo-400  hover:text-orange-500 mx-2 focus:text-blue-500  p-1 hover:bg-gray-300 sm:hover:bg-transparent rounded-lg">
                 HOME
            </a>
            <div class="block lg:hidden">
              
        </nav>
    </div>
</section>


<style>
    .home{
            padding: 20px;
           
        }
        html::-webkit-scrollbar {
        display: none;
        background: transparent;
        }
</style>
