---
import Search from "../component/Search.astro" ;
---

<section class="flex align-middle justify-evenly ">
    <div class="home">
        <nav class="flex justify-between flex-wrap ">
            <div class="block lg:hidden">
                <button
                    class="navbar-burger flex items-center px-3 py-2 border rounded text-white hover:text-white ">
                    <svg class="fill-current h-6 w-6 text-gray-700 " viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <title>Menu</title>
                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                    </svg>
                </button>
            </div>
            <div id="main-nav" class="w-full flex-grow lg:flex items-center lg:w-auto hidden  ">
                <div class=" lg:flex-grow mt-2 animated jackinthebox xl:mx-8 md:text-center md:text-sm text-[12px]">
                    <a href="/"
                        class="block lg:inline-block text-md font-bold  text-orange-500  sm:hover:border-indigo-400  hover:text-orange-500 mx-2 focus:text-blue-500  p-1 hover:bg-gray-300 sm:hover:bg-transparent rounded-lg">
                        HOME
                    </a>
                    <a href="AboutUspage"
                        class="block lg:inline-block text-md font-bold  text-gray-900  sm:hover:border-indigo-400  hover:text-orange-500 mx-2 focus:text-blue-500  p-1 hover:bg-gray-300 sm:hover:bg-transparent rounded-lg">
                        ABOUT US
                    </a>
                    <a href="AboutUspage"
                        class="block lg:inline-block text-md font-bold  text-gray-900  sm:hover:border-indigo-400  hover:text-orange-500 mx-2 focus:text-blue-500  p-1 hover:bg-gray-300 sm:hover:bg-transparent rounded-lg">
                        GALLERY
                    </a>
                    <a href="AboutUspage"
                        class="block lg:inline-block text-md font-bold  text-gray-900  sm:hover:border-indigo-400  hover:text-orange-500 mx-2 focus:text-blue-500  p-1 hover:bg-gray-300 sm:hover:bg-transparent rounded-lg">
                        FAQ
                    </a>
                    <a href="Service"
                        class="block lg:inline-block text-md font-bold  text-gray-900  sm:hover:border-indigo-400  hover:text-orange-500 mx-2 focus:text-blue-500  p-1 hover:bg-gray-300 sm:hover:bg-transparent rounded-lg">
                        SERVICE
                    </a>

                    <a href="Shop"
                        class="block lg:inline-block text-md font-bold  text-gray-900  sm:hover:border-indigo-400  hover:text-orange-500 mx-2 focus:text-blue-500  p-1 hover:bg-gray-300 sm:hover:bg-transparent rounded-lg">
                        SHOP
                    </a>
                    <a href="Shop"
                    class="block lg:inline-block text-md font-bold  text-gray-900  sm:hover:border-indigo-400  hover:text-orange-500 mx-2 focus:text-blue-500  p-1 hover:bg-gray-300 sm:hover:bg-transparent rounded-lg">
                    CONTACT
                </a>
                    <a id="signin-link" href="SignIn" class="block lg:inline-block text-md font-bold text-gray-900 sm:hover:border-indigo-400 hover:text-orange-500 mx-2 focus:text-blue-500 p-1 hover:bg-gray-300 sm:hover:bg-transparent rounded-lg">
                        LOGIN
                    </a>
                    <a id="signup-link" href="SignUp" class="block lg:inline-block text-md font-bold text-gray-900 sm:hover:border-indigo-400 hover:text-orange-500 mx-2 focus:text-blue-500 p-1 hover:bg-gray-300 sm:hover:bg-transparent rounded-lg">
                        REGISTER
                    </a>
                    <button id="logout-link" class="block lg:inline-block text-md font-bold text-gray-900 sm:hover:border-indigo-400 hover:text-orange-500 mx-2 focus:text-red-500 p-1 hover:bg-gray-300 sm:hover:bg-transparent rounded-lg">
                        LOGOUT
                    </button>
                    
                </div>
                <div class="select mr-40 items-center justify-center">
                </div>
                <div class="search md:p-6">
                    <Search/>
                </div>
                <div class="button flex md:flex-row flex-col ">
                    <!-- Botón para el carrito -->
                <a href="/Cart" class="flex items-center space-x-2 text-black rounded px-4 py-2 ">
                <img src="https://img.icons8.com/?size=30&id=59997&format=png" alt="cart" srcset="">
                </a>
            
                    <!-- Botón para las notificaciones -->
                    <a id="admin"   href="Dashboard" class="relative flex items-center space-x-2 text-black rounded px-4 py-2 ">
                        <img src="https://img.icons8.com/?size=50&id=2969&format=png" alt="" srcset="" class="w-8">
                        <span class="absolute top-5 md:right-0 right-[81%]  bg-red-500 text-white rounded-full text-xs w-5 h-5 flex items-center justify-center">8</span>
                    </a>
                    
        </div>
            </div>
        </nav>
    </div>
</section>


<style>
    .home{
            padding: 20px;
           
        }
        html::-webkit-scrollbar {
        display: none;
        background: transparent;
        }
</style>

<script src="../utils/isAdmin.js"></script>
<script>
    import { getSessionStorageToken, deleteToken,getLocalStorageToken } from '../utils/token'
    // Seleccionar los enlaces por sus IDs
    const signInLink = document.getElementById('signin-link');
    const signUpLink = document.getElementById('signup-link');
    const logoutButton = document.getElementById('logout-link');
    const admin = document.getElementById('admin');
    
    // Obtener el token de la sesión
    const token = getSessionStorageToken()

    if (token) {
        if (signInLink) {
            signInLink.style.display = 'none';
        }
        if (signUpLink) {
            signUpLink.style.display = 'none';
        }
     
    } else {
        if (logoutButton) {
            logoutButton.style.display = 'none';
        }
        if (admin){
            admin.style.display = 'none';
        }
    }

    logoutButton?.addEventListener('click', () => {
        const isDelete = deleteToken()
        if(isDelete) {
            location.reload()
        }

        getLocalStorageToken()
    })

</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const logoutLink = document.getElementById('logout-link');
        logoutLink.addEventListener('click', function(event) {
            event.preventDefault(); // Previene la acción por defecto del ancla

            // Realiza la solicitud POST al endpoint de cierre de sesión
            fetch('/logout/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    // Asegúrate de incluir cualquier token CSRF o autenticación necesario aquí
                },
                body: JSON.stringify({}) // Envía un cuerpo vacío si no necesitas enviar datos
            })
            .then(response => {
                if (response.ok) {
                    // Redirige al usuario a @index.astro después de un cierre de sesión exitoso
                    window.location.href = '/'; // Asegúrate de que esta URL apunte a @index.astro
                } else {
                    // Maneja el error aquí
                    console.error('Error al cerrar la sesión');
                }
            })
            .catch(error => {
                // Maneja el error aquí
                console.error('Error al cerrar la sesión:', error);
            });
        });
    });
</script>

<script src="../component/script/Nav.js">
</script>